﻿<div style="background-color:skyblue">
    <button style="text-align:left;color:white;">Registrarse</button>
    <button style="text-align:end;color:white;">Iniciar Sesion</button>
</div>


<div style="text-align:center;">
    <img width="500" src="../logo_Inei.jpg" />
</div>
