﻿@model IEnumerable<TFWeb.Models.TipoPregunta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombreTipoPreg)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombreTipoPreg)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_tipoPreg }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_tipoPreg }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_tipoPreg })
        </td>
    </tr>
}

</table>
