﻿@model TFWeb.Models.Encuesta

@{
    ViewBag.Title = "Detalle_Usuario";
}

<h2>Details</h2>

<div>
    <h4>Encuesta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaTentativa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaTentativa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.indicador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.indicador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.costo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.costo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_encuesta }) |
    @Html.ActionLink("Back to List", "Vista_Usuario")
</p>
