﻿@model IEnumerable<TFWeb.Models.Encuesta>

@{
    ViewBag.Title = "ListaEncuestas";
}

<h2>Lista de Encuestas</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
           
        </td>
    </tr>
}

</table>
