﻿@model IEnumerable<TFWeb.Models.PreguntaEncuesta>
@{
    ViewBag.Title = "ListaPreguntas";
    int i = 0;
}
<h2>
    @foreach (var item1 in Model) { 
        @Html.DisplayFor(modelItem => item1.Encuesta.nombre); break;
    }
    
</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.orden)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    //Este if es para que solo la primera vez obtenga el id_encuesta, ya que esta dentro del foreach
    //No puedes poner afuera del foreach el input, porque tratara de obtener el valor de Models y esta ya esta vacio 
    if (i == 0)
    {
        //Para que no se vea este input debes de poner el atributo class = "hidden"
        <input type="number" name="encuesta_id" id="encuesta_id" value="@item.id_encuesta" class="hidden" />
        i = 1;
    }
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.orden)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>                   
            @if(item.TipoPregunta.id_tipoPreg==1)
            {
                //Como estas concatenando un string con un numero el numero lo tienes que convertir a string con ToSritng
                 <td><input type="text" name="rpta+@item.orden.ToString()" id="rpta+@item.orden.ToString()"/></td>
            }
            else if (item.TipoPregunta.id_tipoPreg == 2)
            {
                <td><input type="number" name="rpta+@item.orden.ToString()" id="rpta+@item.orden.ToString()"/></td>
            }
            else if (item.TipoPregunta.id_tipoPreg == 3)
            {
                <td><input type="radio" name="rpta+@item.orden.ToString()" id="rpta+@item.orden.ToString()" value="true"/><b>Si</b>
                    <input type="radio" name="rpta+@item.orden.ToString()" id="rpta+@item.orden.ToString()" value="false"/><b>No</b></td>
            }
        
    </tr>
}
</table>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Guardar" class="btn btn-default" />
    </div>
</div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>