﻿@model IEnumerable<TFWeb.Models.Encuesta>

@{
    ViewBag.Title = "Vista_Usuario";
}

<h2>Index</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaTentativa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.indicador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.costo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaTentativa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.indicador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.costo)
            </td>
            <td>
                @Html.ActionLink("Details", "Detalle_Usuario", new { id = item.id_encuesta }) |
                @Html.ActionLink("Lista de preguntas", "ListaPreguntas", new { id = item.id_encuesta })
            </td>
        </tr>
    }

</table>
