﻿@model TFWeb.Models.PreguntaEncuesta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PreguntaEncuesta</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.orden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.orden)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoPregunta.nombreTipoPreg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoPregunta.nombreTipoPreg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Encuesta.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Encuesta.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_pregEncuesta }) |
    @Html.ActionLink("Back to List", "Index")
</p>
