﻿@model TFWeb.Models.PreguntaEncuesta

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>PreguntaEncuesta</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.id_pregEncuesta)

        <div class="form-group">
            @Html.LabelFor(model => model.id_encuesta, "id_encuesta", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("id_encuesta", String.Empty)
                @Html.ValidationMessageFor(model => model.id_encuesta)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.id_tipoPreg, "id_tipoPreg", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("id_tipoPreg", String.Empty)
                @Html.ValidationMessageFor(model => model.id_tipoPreg)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.descripcion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.descripcion)
                @Html.ValidationMessageFor(model => model.descripcion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.orden, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.orden)
                @Html.ValidationMessageFor(model => model.orden)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
