﻿@model IEnumerable<TFWeb.Models.PreguntaEncuesta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.orden)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoPregunta.nombreTipoPreg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Encuesta.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.orden)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoPregunta.nombreTipoPreg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Encuesta.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_pregEncuesta }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_pregEncuesta }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_pregEncuesta })
        </td>
    </tr>
}

</table>
