﻿@model TFWeb.Models.Respuesta

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Respuesta</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.id_pregunta, "id_pregunta", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("id_pregunta", String.Empty)
                @Html.ValidationMessageFor(model => model.id_pregunta)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.id_usuario, "id_usuario", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("id_usuario", String.Empty)
                @Html.ValidationMessageFor(model => model.id_usuario)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.respuestaTexto, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.respuestaTexto)
                @Html.ValidationMessageFor(model => model.respuestaTexto)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.respuestaNumerico, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.respuestaNumerico)
                @Html.ValidationMessageFor(model => model.respuestaNumerico)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.respuestaBit, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.respuestaBit)
                @Html.ValidationMessageFor(model => model.respuestaBit)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
