﻿@model TFWeb.Models.Respuesta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Respuesta</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.respuestaTexto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.respuestaTexto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.respuestaNumerico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.respuestaNumerico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.respuestaBit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.respuestaBit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreguntaEncuesta.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreguntaEncuesta.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_respuesta }) |
    @Html.ActionLink("Back to List", "Index")
</p>
