﻿@model IEnumerable<TFWeb.Models.Respuesta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.respuestaTexto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.respuestaNumerico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.respuestaBit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreguntaEncuesta.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.respuestaTexto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.respuestaNumerico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.respuestaBit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PreguntaEncuesta.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_respuesta }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_respuesta }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_respuesta })
        </td>
    </tr>
}

</table>
