﻿@model TFWeb.Models.Respuesta
@{
    ViewBag.Title = "PregRespuesta";
}

<h2>PregRespuesta</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Respuesta</h4>
        <hr />
        @Html.ValidationSummary(true)
        
                <div class="form-group">
                @Html.LabelFor(model => model.respuestaTexto, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                    @Html.EditorFor(model => model.respuestaTexto)
                    @Html.ValidationMessageFor(model => model.respuestaTexto)
                    </div>
                </div> 
        }
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
